#hub_router_1.0.1/requirements.txt

# Core
fastapi==0.115.14
uvicorn==0.35.0
pydantic==2.11.7
starlette==0.46.2

# Auth / Security
PyJWT==2.10.1
bcrypt==4.3.0
cryptography==45.0.5

# Data / DB
pandas==2.2.3
numpy==1.26.4
scipy==1.10.1
SQLAlchemy==2.0.37
psycopg2-binary==2.9.10

# Redis / Queue
redis==5.0.8
rq==1.16.2

# Geospatial
geopandas==1.0.1
shapely==2.0.6
pyproj==3.6.1
geopy==2.4.1
osmnx==2.0.0
folium==0.18.0
geojson

# ML / Optimization
scikit-learn==1.3.2
scikit-learn-extra==0.2.0
joblib==1.4.2
k-means-constrained==0.7.3
kneed==0.8.5
networkx==3.2.1
ortools==9.11.4210

# Forecast / ML avançado
xgboost==2.1.1
lightgbm==4.5.0
pmdarima==2.0.4
prophet==1.1.6

# Utils
requests==2.32.3
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
tqdm==4.67.1
tenacity==9.0.0

# Files / Export
reportlab==4.4.1
pdfkit==1.0.0
fpdf2==2.8.3
pyarrow==20.0.0
openpyxl>=3.1.0
xlsxwriter>=3.1.0

# Visualization
matplotlib==3.9.4
seaborn==0.13.2
plotly==5.24.1
streamlit==1.45.1
streamlit_folium==0.25.0


# Misc
python-multipart==0.0.9
typing_extensions==4.12.2